.search-container {
    background-color: rgba(0, 0, 0, 0.815);
    text-align: center;
    padding: 10px 0px;
}
.search-container input {
    width: 75%;
    height: 30px;
}
.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container {
    border-right: 2px solid lightgray;
    margin-right: 10px;
    margin-left: 50px;
}
